.DS_Store
node_modules
.bin
public
index.html
/dist
firebase
.firebase
.firebaserc
firebase.json
firestore.indexes.json
firestore.rules
functions
assets
fonts
css
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
